*.pyc
*~
__pycache__
Include
Lib
Scripts
pyvenv.crg
MANIFEST
.Python
build/
dist/
.cache
.pytest_cache/

*.log
local_settings.py
db.sqlite3
docs/_build/
src/portal/settings.py
.python-version
.env
.venv